body {
    margin: 0;
}
.container {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
row {
    width: 100%;
}
.row:after {
    clear: both;
    display: table;
    content: "";
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
a:hover, .black-bg a:hover {
    color: red;
}
.black-bg a {
    color: white;
}
.one-half, .two-thirds, .one-third, .one-fourth, .three-fourths {
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: .75em;
}
.eighth-offset {
    margin-left: 12.5%;
}
.small-text {
    font-size: .9em;
}
.black-bg {
    background: black;
    color: white;
    width: 100%;
}
.border {
    border-top: .4em double #8c8c8c;
    display: inline-block;
    height: 16px;
    vertical-align: bottom;
}
.border:after {
    display: inline-block;
    width: 100%;
    content: "";
    position: absolute;
}
.black-bg .border {
    border-color: red;
}
@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
    .one-half {
        width: 50%;
    }
    .two-thirds {
        width: 66.67%;
    }
    .one-third {
        width: 33.33%;
    }
    .one-fourth {
        width: 25%;
    }
    .three-fourths {
        width: 75%;
    }
}