body {
    margin: 2%;
}
.alert-info {
    text-align: center;
    background: #CEFFFF;
    border: 2px solid #CCCCCC;
    padding: 2vh 0;
}
.alert-info a {
    color: black;
    text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 3.5em;
}
.nav-links {
    list-style: none;
    padding: 0;
}
.nav-links a {
    padding: 2vh 2vh;
    margin: .75vh 0;
    text-align: center;
    background: #CCC;
    font-size: 2vh;
}
.header-img img {
    display: block;
    margin: 0 auto;
}
.main {
    float: left;
    display: block;
}
.sub-section {
    float: left;
    font-style: italic;
    display: block;
}
footer p{
    font-size: 1.5vh;
}
footer>p {
    padding-top: 15vh;
}
#social-media-links {
    position: relative;
    bottom: 0;
}
#social-media-links img {
    box-sizing: border-box;
}
#social-media-links .one-sixth {
    width: 16.666%;
}
@media screen and (min-width: 768px) {
    .hidden-on-desktop {
        visibility: hidden;
        height: 0;
        padding: 0;
    }
    h1 {
        float: left;
        text-align: left;
        margin: 0;
    }
    .nav-links a {
        padding: 1.75em 0 0 0;
        background: transparent;
        font-size: 1em;
        text-align: center;
    }
    .header-img img {
        clear: both;
        display: block;
        margin: 0 auto;
    }
    .main {
        box-sizing: border-box;
        padding: 2% 2%;
    }
    .sub-section {
        box-sizing: border-box;
        padding: 2% 2%;
    }
    #social-media-links img {
        box-sizing: border-box;
        padding-top: 0 2em 0 2em;
        margin: 0;
    }
}