body {
    /*background-image: url("IMG/Weatherbkgrnd.png");*/
    background: #e5e5e5;
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    font-size: 1.29vw;
}
main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: #e5e5e5;
}
h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.0833333333333335vw;
    padding: 0.6944444444444444vw;
    display: inline;
}
p {
    line-height: 1;
    margin: .5vw;
}
.instruct {
    margin: 1vw;
    font-weight: bolder;
}
.city {
    display: block;
    margin: 0;
}
select {
    height: 2.2222222222222223vw;
    background: #e5e5e5;
    font-size: 1.1111111111111112vw;
    border-radius: 5px;
    float: right;
    font-family: 'Anonymous Pro', monospace;
}
select:hover {
    background: #C0DDEF;
    color: #182038;
}
.checkboxes {
    text-align: right;
}
.top {
    background: black;
    color: white;
    padding: 0.6944444444444444vw;
}
.inner {
    width: 80%;
    margin: 0 auto;
}
.headers {
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
}
.header {
    background: #182038;
    height: auto;
    text-align: center;
    border: 1px solid black;
    color: #F8ECE8;
    padding: .5vw;
    margin: 0.6944444444444444vw .3vw;
    border-radius: 5px;
    flex: 1;
}
.headerSmall {
    display: none;
}
.weather {
    display: flex;
    height: auto;
    clear: right;
}
.day {
    background: #C0DDEF;
    text-align: center;
    border: 1px solid black;
    color: #182038;
    border-radius: 5px;
    margin: 0 .3vw;
    flex: 1;
}
.day h3 {
    margin: .75vw 0;
}
.gifSize {
    height: 5.208333333333333vw;
}
#map{
    width: 100%;
    height: 27.77777777777778vw;
    border: 3px solid #182038;
    border-radius: 5px;
    margin-bottom: 3vw;
    box-sizing: border-box;
}
#logo {
    height: 2.0833333333333335vw;
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 1.75vw;
    }
    main {
        width: 90%;
    }
    h1 {
        font-size: 5vw;
        padding: 1vw;
    }
    h3 {
        margin: 2vw;
    }
    .day p {
        line-height: 1.75vw;
        margin: 1vw;
    }
    select {
        height: 4vw;
        font-size: 2vw;
        margin: 2vw 0;
    }
    .top {
        padding: 2vw;
    }
    .inner {
        width: 90%;
    }
    .checkboxes {
        margin: 1.5vw 0;
        font-size: 2vw;
        clear: both;
        text-align: center;
    }
    .instruct {
        margin: 2vw;
    }
    .gifSize {
        height: 10vw;
    }
    .header {
        height: 2.5vw;
        padding-top: .5vw;
        margin-top: 2vw;
        font-size: 2vw;
    }
    #logo {
        height: 5vw;
    }
    #map{
        height: 60vw;
    }
}
@media screen and (max-width: 550px) {
    body {
        font-size: 4vw;
    }
    main {
        width: 95%;
    }
    h1 {
        font-size: 6.8vw;
        padding: 2vw;
    }
    h3 {
        margin: 2vw;
    }
    .day p {
        line-height: 5vw;
        margin: auto;
    }
    select {
        height: 6.8vw;
        font-size: 3.4vw;
        float: none;
        margin: 2vw;
    }
    .top {
        padding: 2vw;
    }
    .inner {
        width: 98%;
        text-align: center;
    }
    .gifSize {
        height: 20vw;
    }
    .day {
        flex: 0;
        margin: 2vw 0;
    }
    .instruct {
        margin: 3.5vw;
    }
    .checkboxes{
        text-align: center;
        font-size: 3.5vw;
    }
    .checkboxes label {
        display: block;
    }
    .headers {
        display: none;
    }
    .headerSmall {
        display: block;
        font-size: 4vw;
        height: auto;
    }
    .weather {
        display: block;
    }
    #logo {
        height: 6.8vw;
    }
    #map{
        height: 60vw;
    }
}